<div class="title h4 fw-bold text-decoration-underline">Sentiment score Top 3</div>
<!-- items on modal -->
<div class="row">
    <div class="h5 col-sm-3 text-center">
        User
    </div>
    <div class="h5 col-sm-3 text-center">
        Sentiment score
    </div>
    <div class="h5 col-sm text-center">
        Post
    </div>
</div>
<!-- sentiment score ranking No.1 -->
<div class="row">
    <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
        <div>
            <img src="a" class="sentiment_icon_1">
            <div class="sentiment_username_1"></div>
        </div>
    </div>
    <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
        <div class="sentiment_score_1"></div>
    </div>
    <div class="col-sm d-flex align-items-center justify-content-start">
        <div class="sentiment_text_1"></div>
    </div>
</div>
<!-- sentiment score ranking No.2 -->
<div class="row">
    <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
        <div>
            <img src="a" class="sentiment_icon_2">
            <div class="sentiment_username_2"></div>
        </div>
    </div>
    <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
        <div class="sentiment_score_2"></div>
    </div>
    <div class="col-sm d-flex align-items-center justify-content-start">
        <div class="sentiment_text_2"></div>
    </div>
</div>
<!-- sentiment score ranking No.3-->
<div class="row">
    <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
        <div>
            <img src="a" class="sentiment_icon_3">
            <div class="sentiment_username_3"></div>
        </div>
    </div>
    <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
        <div class="sentiment_score_3"></div>
    </div>
    <div class="col-sm d-flex align-items-center justify-content-start">
        <div class="sentiment_text_3"></div>
    </div>
</div>