<!-- retweet score ranking -->
<div class="title h4 fw-bold text-decoration-underline">Number of Retweet Top 3</div>
<!-- items of number of retweet ranking -->
<div class="content_wrap">
    <div class="row flex-nowrap">
        <div class="h5 col-sm-3 text-center">
            User
        </div>
        <div class="h5 col-sm-3 text-center">
            Number of Retweet 
        </div>
        <div class="h5 col-sm text-center">
            Post
        </div>
    </div>
    <!-- number of retweet ranking No.1 -->
    <div class="row flex-nowrap">
        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
            <div>
                <img src="#" class="retweet_icon_1">
                <div class="retweet_username_1"></div>
            </div>
        </div>
        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
            <div class="retweet_score_1"></div>
        </div>
        <div class="col-sm d-flex align-items-center justify-content-start">
            <div class="retweet_text_1"></div>
        </div>
    </div>
    <!-- number of retweet ranking No.2 -->
    <div class="row flex-nowrap">
        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
            <div>
                <img src="#" class="retweet_icon_2">
                <div class="retweet_username_2"></div>
            </div>
        </div>
        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
            <div class="retweet_score_2"></div>
        </div>
        <div class="col-sm d-flex align-items-center justify-content-start">
            <div class="retweet_text_2"></div>
        </div>
    </div>
    <!-- number of retweet ranking No.3-->
    <div class="row flex-nowrap">
        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
            <div>
                <img src="#" class="retweet_icon_3">
                <div class="retweet_username_3"></div>
            </div>
        </div>
        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
            <div class="retweet_score_3"></div>
        </div>
        <div class="col-sm d-flex align-items-center justify-content-start">
            <div class="retweet_text_3"></div>
        </div>
    </div>
</div>