@charset "UTF-8";

/* body */
body{
    font-family:“Times New Roman”;
    margin: 0;
}

.serch_word_wrap{
    padding: 10px 0;
}

/* analysis */
.contents_container{
    height: auto;
}

.term{
    margin-right: 10px;
}

.term_start{
    margin-right: 5px;
}

.term_end{
    margin-left: 5px;
}

.canvas-container{
    position: relative;
    height: 500px;
    overflow: hidden;
    margin:10px 100px 0px 100px;
}

.canvas-container-modal{
    position: relative;
    height: 500px;
    overflow: hidden;
    margin:10px 10px 0px 10px;
}

button{
    margin:10px
}

/* modal */
.row{
    margin-bottom:10px;

}

.content_wrap{
    overflow-x: scroll;
    margin-bottom: 20px;
}

.content_wrap_chart{
    margin-bottom: 20px;
}

[class*="_icon_"]{
    width: 75px;
    height: 75px;
}