                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <!-- <div class="sample_2">XXX</div> -->
                                    <div class="title h4 fw-bold text-decoration-underline">Sentiment score Top 3</div>
                                    <!-- items on modal -->
                                    <div class="row">
                                        <div class="h5 col-sm-3 text-center">
                                            User
                                        </div>
                                        <div class="h5 col-sm-3 text-center">
                                            Sentiment score
                                        </div>
                                        <div class="h5 col-sm text-center">
                                            Post
                                        </div>
                                    </div>
                                    <!-- sentiment score ranking No.1 -->
                                    <div class="row">
                                        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
                                            <div>
                                                <img src="a" class="sent_icon_1">
                                                <div class="sent_username_1"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
                                            <div class="sent_score_1"></div>
                                        </div>
                                        <div class="col-sm d-flex align-items-center justify-content-start">
                                            <div class="sent_text_1"></div>
                                        </div>
                                    </div>
                                    <!-- sentiment score ranking No.2 -->
                                    <div class="row">
                                        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
                                            <div>
                                                <img src="a" class="sent_icon_2">
                                                <div class="sent_username_2"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
                                            <div class="sent_score_2"></div>
                                        </div>
                                        <div class="col-sm d-flex align-items-center justify-content-start">
                                            <div class="sent_text_2"></div>
                                        </div>
                                    </div>
                                    <!-- sentiment score ranking No.3-->
                                    <div class="row">
                                        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
                                            <div>
                                                <img src="a" class="sent_icon_3">
                                                <div class="sent_username_3"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 text-center text-break d-flex align-items-center justify-content-center">
                                            <div class="sent_score_3"></div>
                                        </div>
                                        <div class="col-sm d-flex align-items-center justify-content-start">
                                            <div class="sent_text_3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>